import("openxlsx","stringr","ggplot2","qqman","MASS","lars","ncvreg","coin","data.table","doParallel","foreach","parallel")
importFrom("stats","optim","pchisq","var","na.omit")
importFrom("utils","read.csv","write.table","RShowDoc")
importFrom("methods","new")
importFrom("stringr","str_extract_all")
importFrom("openxlsx","read.xlsx")
importFrom("qqman","manhattan")
importFrom("graphics","plot","abline")
importFrom("grDevices","dev.off","jpeg","png","tiff","pdf")
importFrom("graphics","axis", "mtext", "par")
importFrom("stats", "median", "qchisq", "uniroot")
importFrom("stats","cor.test")
importFrom("coin","kruskal_test","pvalue")
importFrom("stats", "AIC", "lm", "p.adjust")
importFrom("stats", "cor")
importFrom("utils","head")
importFrom("sampling","srswr")
export("mrMLM")