import("RGtk2","gWidgets","gWidgetsRGtk2","RGtk2Extras","openxlsx","stringr","ggplot2","qqman","MASS")
importFrom("stats","optim","pchisq","var","na.omit")
importFrom("utils","read.csv","write.table","RShowDoc")
importFrom("methods","new")
importFrom("graphics","plot","abline")
importFrom("grDevices","dev.off","jpeg","png","tiff")
importFrom("graphics", "axis", "mtext", "par")
importFrom("stats", "median", "qchisq", "uniroot")
export("mrMLM")
